{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>{% block 'title'%}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block 'styles'%}{% endblock %}
    <link rel="stylesheet" href={% static 'css/base/base.css' %}>
    <meta charset="utf-8">
  </head>
  <body class="background-color">
    <nav class="navbar navbar-expand-lg navbar background-color2">
      <a class="navbar-brand margem-left" href="#">Jana Jóias</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="form-inline flex margem-right-nav">
        <input class="form-control mr-sm-2 " type="search" placeholder="Pesquise um produto..." aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 mini_margin" type="submit">Buscar</button>
      </form>
      
      {% if user.is_authenticated %}
        <div class="hamburger-menu size-menu ">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>

          <div class="menu__box">
            <div class="row">
              <div class="col-4">
              </div>
              <div class="col-5">
                <div class="profile-circle-btn circle">
                  <a href="{% url 'render_profile'%}"><img class="circle"width="100%" height="100%" src="{{user.profile_pic.url}}"></a>
                </div>
              </div>
              <div class="col-3"></div>
            </div>
            <br>
            <div><a class="menu__item" href="{% url 'render_cart'%}">Carrinho</a></div>
            <div><a class="menu__item" href="#">Sobre</a></div>
            <div><a class="menu__item" href="#">Suporte</a></div>
            <div><a style="color:red;" class="menu__item" href="{% url 'logouts'%}">Sair</a></div>
          </div>
        </div>
          
      {%else%}
        <div class="margem-right size-user circle">
          <div class="margem-right size-user circle">
            <a href="{% url 'render_login'%}"><img class="circle"width="40px" height="40px" src="/media/users_pics/default.jpg"></a>
          </div> 
        </div>  
      {% endif %}
    </nav>
    <nav class="subnav align-center">
      <div class="margin-all" ><a class="no-link-h" href="#">HOME</a></div>
      <div class="margin-all" ><a class="no-link-h" href="#">PRODUTOS EM DESCONTO</a></div>
      <div class="margin-all" ><a class="no-link-h" href="#">CONTATO</a></div>
      <div class="margin-all" ><a class="no-link-h" href="#">SEI LA</a></div>
    </nav>
    {%block 'body'%}
    {%endblock%}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>