{% extends 'base.html'%}
{% load static %}
{% block 'title'%}Carrinho{% endblock%}

{%block 'body'%}
    {{cart.id}}
    {%for i in products%}
        <br>
        <div class="col-md-3">
            <div class="row">
                <img class="radius" src="{{i.image.url}}" width="100%" height="100%">
            </div>
            <div class="row">
                <h6>&nbsp; {{i.name}} {{i.price}} R$</h6>
                <p>{{i.description}}</p>
            </div>
        </div>
    {% endfor %}
{% endblock%}