{%extends "base.html" %}
{% load static %}
{% block 'title'%}Perfil{% endblock%}

{%block 'body'%}
    {% if messages %}
        {% for i in messages%}
            <div class="alert {{i.tags}}" role="alert">
                {{i}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="row">    
        <div class="col-md-4">
            <h1>Olá {{user.first_name}} !</h1>
            <br>
            <div class="row">
                <div class="col-md-5">
                    <img class="radius" width="100%" height="100%" src="{{user.profile_pic.url}}"></img>
                </div>
                <div class="col-md-7">
                    <form action="{% url 'new_profile_pic'%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        <div class="mb-3">
                            <input name="picture"placeholder="Foto de perfil"class="form-control" type="file">
                        </div>
                        <div class="mb-3">
                            <input type="submit"class="btn btn-outline-success" value="Salvar Foto">
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <div class="mb-3">
                        <label>Username:</label>
                        <input readonly class="form-control" placeholder="Username..." type="text" value="{{user.username}}">
                    </div>
                    <form method="POST" action="{% url 'alter_data'%}">
                        {%csrf_token %}
                        <div class="mb-3">
                            <label>Primeiro Nome:</label>
                            <input name="first_name" class="form-control" placeholder="Nome..." type="text" value="{{user.first_name}}">
                        </div>
                        <div class="mb-3">
                            <label>Último Nome:</label>
                            <input name="last_name" class="form-control" placeholder="Último Nome..." type="text" value="{{user.last_name}}">
                        </div>
                        <div class="mb-3">
                            <label>Email:</label>
                            <input name="email" class="form-control" placeholder="Email..." type="email" value="{{user.email}}">
                        </div>
                        <div class="mb-3">
                            <input type="submit"class="btn btn-outline-success" value="Atulizar dados">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">ariaa a a a  aaaa a aa</div>
        <div class="col-md-4">ariaa a a a  aaaa a aa</div>
    </div>

{% endblock%}