{% extends "base.html" %}
{% load static %}
{% block 'title'%}Página Inicial{% endblock %}

{%block 'body'%}
    {% if messages %}
        {% for i in messages%}
            <div class="alert {{i.tags}}" role="alert">
                {{i}}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-2">
             
        </div>
        <div class="col-md-8">
            <h1>Página inicial</h1>
            <h1>Página inicial</h1> 
            <h1>Página inicial</h1>
            <h1>Página inicial</h1>
            <h1>Página inicial</h1>
            <h1>Página inicial</h1>
        </div>
        <div class="col-md-1">
        </div>
    </div>
{%endblock%}