.no-link{
  text-decoration: none;

}
.border{
  border: solid 1px black;
}
.margin{
  margin: 5px;
}
.color-white{
  background-color: white;
}
.no-link-h{
  text-decoration: none;
  font-weight: bold;
  color: #333;
}
.price-color{
  color:rgb(12, 158, 12);}

.center-text{
  text-align: center;
}
.align-center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right-border{
  border-right: solid 1px rgb(0, 0, 0);
}
body
{overflow-x: hidden;}
.font-color
{color: rgb(219, 217, 217);}
.background-color
{background-color: rgba(207, 204, 204, 0.856);}
.background-color2
{background-color: #e670d698;}
.margem-left
{padding-left: 3%;}
.margem-right
{margin-right: 0.5%;}
.margem-right-nav
{margin-right: 5%;}
.margin-divs{margin:1%;}
.padding-left-profile
{padding-left: 10%;}
.ppadding-top
{padding-top: 4%;}
.margem-top
{margin-top: 5%;}
.flex
{display: flex;}
.mini_margin
{margin-left:1%;}
.radius
{border-radius: 17%;}
.margem-center
{margin: auto;}
.size-all{
    width: 100%;
    height: 100%;}
.size-desc{
    padding-top: 0px;
    width: 50%;
    height: 100px;}
.circle
{border-radius: 100%;}
.size-user{
    width: 40px;
    height: 40px;}
.profile-circle-btn{
  width: 80px;
  height: 80px;
}
.pic-size{
    width: 40px;
    height: 40px;
}
.margin-all{
  margin: 1%;
}


/*NavBar menu*/
.size-menu{
  width: 30px;
  height: 40px;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 30px;
    right:20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 101;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
    z-index: 100;
    }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  /*SUbnavbar*/
  .subnav{
    width: 100%;
    height: 25px;
    background-color: white;
  }