/*div{
    border: 1px solid black;
}*/
body{
    overflow-x: hidden;
}
.font-color{
    color: rgb(219, 217, 217);
}
.background-color{background-color: rgba(207, 204, 204, 0.856);}
.background-color2{background-color: #212529;}
.margem-left{
    padding-left: 3%;
}
.margem-right{
    margin-right: 0.5%;
}
.ppadding-top{
    padding-top: 4%;
}
.margem-top{
    margin-top: 1%;
}
.flex{
    display: flex;
}
.mini_margin{
    margin-left:1%;
}
.radius{
    border-radius: 10px;
}
.margem-center{
    margin: auto;
}
.size-all{
    width: 100%;
    height: 100%;
}
